html{
    background-color:tan ;
}

.titulo{
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
    text-align: center;
}

.menu{
    
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: 20px;
    height: 52px;
    font-size: 30px;
    text-align:center;
    padding-left: 30%;
    background-color:brown;
    
    
}
menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

menu ul li{
    float:left;
 }

menu a{
    color:aliceblue;
    text-decoration: none;
    display:inline-block;
    padding: 12px 36px;
}
menu a:hover{
    color:darkgoldenrod;
    background-color: black;
    text-decoration: dotted;
}

.mainpic{
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
}
.maintext{
    text-align: center;
    text-decoration: solid;
    color:rgb(83, 60, 60);
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.logos{
    text-align: center;
    
    
}

.pie{
    text-align: center;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: 15px;
    text-decoration:none;
 
}

